html {
    background: #ffffff;
}

img{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#core-content {
    background: #ffffff;
}

#core-header-container nav {
    cursor: default!important;
}

.container-1200 {
    max-width: 1400px!important;
}

#core-header {
    z-index: 2;
    width: 100%;
    height: 80px;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: none !important;
    position: relative
}

#core-header-title {
    font-size: 25px !important;
    padding: 20px !important;
    margin: 0 !important;
    line-height: 100% !important;
    font-weight: 600 !important;
    font-family: "Roboto", sans-serif;
}

#core-header-container {
    padding: 0
}

#core-header-container, #dashboard {
    max-width: 1400px !important;
    margin: auto !important;
    float: initial !important;
}

.radius-top {
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

#core-overlay-close {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 5% auto 0;
}

#core-overlay-close i{
    position: absolute;
    top: 0;
    right: 2%;
    color: white;
    font-size: 64px;
    cursor: pointer;
}

#core-overlay-div {
    opacity: 0;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.easefadein {
    opacity: 0;
    transform: translateY(-20px);
    transition: all ease .3s;
}

#core-overlay-content {
    border-radius: 5px;
    box-shadow: 4px 4px 16px #000000b8;
    position: relative;
    text-align: center;
    padding: 40px;
    background: rgba(0, 0, 0, .85);
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    z-index: 10001;
    color: white;
    margin: auto;
    top: 80px;
    transition: ease all .3s;
}

#core-overlay, .core-overlay {
    transform: translateX(-100%);
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10000;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease
}

#core-overlay.active, .core-overlay.active {
    transform: translateX(0);
    opacity: 1
}

#login-aside {
     margin-top: 0!important;
     padding: 5px 7px 3px!important;
 }

.menu-ep.active a {
    color: white !important;
}

.menu-ep a {
    color: #5e3a8e !important;
    font-weight: 500;
}

#core-header-nav li {
    margin-right: 0!important;
}

.menu-ep {
    font-size: 16px !important;
    width: auto !important;
    border-radius: 25px !important;
    border: none !important;
    text-transform: none !important;
}

li.menu-ep > .menu-ep {
    padding: 20px !important;
}

li.menu-ep {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.menu-ep i {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-ep.active {
    background: #5e3a8e !important;
}

li.nomeHeader {
    cursor: default!important;
    width: 250px !important;
    text-transform: none !important;
    text-align: right !important;
    padding: 10px 0!important;
}

.nomeHeader > div {
    margin-bottom: -8px !important;
    font-size: 15px !important;
    text-transform: none !important;
}

.scale:hover {
    transform: scale(1.03);
}

.radius-top-right {
    border-top-right-radius: 50px;
}

.color-theme {
    background: #5e3a8e !important;
    color: #ffffff;
}

.color-text-theme {
    color: #5e3a8e !important;
}

.color-theme-d1 {
    background: #351E46 !important;
    color: #ffffff;
}

.color-text-theme-d1 {
    color: #351E46 !important;
}

.color-theme-l1 {
    background: #6F3E92 !important;
    color: #ffffff;
}

.color-theme-l1.active {
    background: #ffffff !important;
    color: #5e3a8e;
    font-weight: bold!important;
}

.color-text-theme-l1 {
    color: #6F3E92 !important;
}

.color-theme-l2 {
    background: #A78ABC !important;
    color: #ffffff;
}

.color-theme-l2.active {
    background: #ffffff !important;
    color: #5e3a8e!important;
    font-weight: bold!important;
}

.color-text-theme-l2 {
    color: #A78ABC !important;
}

.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}