.grafico-header {
    text-transform: capitalize;
    color: #C03A4C;
    margin-right: 20px;
}

.grafico-header-sono {
    color: #1C9CCA;
}

.graficoArrow {
    position: absolute;
    top: 60px;
}

.graficoArrowBack {
    left: -40px;
}

.graficoArrowforward {
    right: -40px;
}

.paciente-box {
    box-shadow: 3px 3px 9px 0 #0000006b;
    max-width: 470px;
}

.indicador {
    position: relative;
}

.indicador i {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 15px;
    border-radius: 50%;
    background: #9CDA52;
    color: white;
    border: solid 4px #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: all ease .15s;
}

.indicador.active i {
    opacity: 1;
}