.grafico-header {
    text-transform: capitalize;
    color: #1C9CCA;
    margin-right: 20px;
}
.sub-header {
    text-transform: capitalize;
    margin-right: 20px;
}

.grafico-box-parent {
    overflow-x: auto;
    overflow-y: hidden;
}

.grafico-box {
    padding-right: 40px;
    padding-left: 18px;
}

.grafico-box::-webkit-scrollbar {
    height: 10px !important;
}

.graficoArrow {
    position: absolute;
    top: 22%;
}

.graficoArrowBack {
    left: -50px;
}

.graficoArrowforward {
    right: -40px;
}

.paciente-box {
    box-shadow: 3px 3px 9px 0 #0000006b;
}

.indicador {
    position: relative;
}

.indicador i {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 15px;
    border-radius: 50%;
    background: #9CDA52;
    color: white;
    border: solid 4px #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: all ease .15s;
}

.indicador.active i {
    opacity: 1;
}

#periodo-graficos {
    transform: scale(.9);
    width: 125%;
    margin-left: -12.5%;
}

.info-spinner {
    padding-left: 96px;
    width: 200px;
    position: absolute;
    left: 25%;
    top: 70px;
}

.message-spinner {
    position: absolute;
    right: 7%;
    top: 80px;
}

@keyframes rotateBad {
    from {
        transform: rotate(230deg);
    }
    to {
        transform: rotate(310deg);
    }
}

@keyframes rotateNormal {
    from {
        transform: rotate(280deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateGood {
    from {
        transform: rotate(320deg);
    }
    to {
        transform: rotate(400deg);
    }
}

.spinner {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 30%;
    z-index: 0;
}

.spinner:before,
.spinner:after {
    content: '';
    position: absolute;
}

.spinner:before {
    border-radius: 50%;
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 0.9) 100%) 0% 0%,
    linear-gradient(90deg, hsla(0, 0%, 100%, 0.9) 0%, hsla(0, 0%, 100%, 0.6) 100%) 100% 0%,
    linear-gradient(180deg, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0.3) 100%) 100% 100%,
    linear-gradient(360deg, hsla(0, 0%, 100%, 0.3) 0%, hsla(0, 0%, 100%, 0) 100%) 0% 100%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}

.spinner:after {
    background: white;
    border-radius: 50%;
    top: 6%;
    bottom: 6%;
    left: 6%;
    right: 6%;
}

@media (min-width: 663px) {
    #periodo-graficos {
        transform: none;
        width: 100%;
        margin-left: 0;
    }
}

@media (min-width: 990px) and (max-width: 1300px) {
    .l4 {
        width: 41.66666% !important;
    }

    .l8 {
        width: 58.33333% !important;
    }
}