<div class="col hide" id="edit-ajustes">
    <div id="edit-ajustes-opaco" class="easefadein"></div>
    <div class="padding-small pointer arrowback easefadein" onclick="closeAjustes()" data-fade-delay="500">
        <i class="material-icons font-xxxlarge left color-text-white">arrow_back</i>
        <div class="left font-xlarge padding-medium color-text-white">Retornar</div>
    </div>

    <div class='row font-large' id="tela-ajustes"
         style="max-width: 410px; margin: 150px auto 0;position: relative;z-index: 3;">
        <h1 class="color-text-white align-center easefadein header-edit-ajustes" data-fade-delay="100">
            <div class="font-bold font-xxxlarge s-font-xxlarge">Ajustes</div>
        </h1>

        <div class="col container-900 padding-top margin-top padding-medium" style="margin-bottom: 40px;">
            <label class="col easefadein" data-fade-delay="200">
                <select class="select-pais">
                    <option value="" selected="selected" disabled="disabled">Idioma</option>
                    <option value="pt-Br">Português do Brasil</option>
                </select>
            </label>
            <label class="col easefadein" data-fade-delay="300">
                <button onclick="termosUso()" class="col btn-ajuste s-font-large btn">
                    Termos de Uso
                </button>
            </label>
            <label class="col easefadein" data-fade-delay="500">
                <a href="saibamais" class="col btn-ajuste s-font-large btn">
                    Sobre o Epistemic
                </a>
            </label>
        </div>

        <div class="row col easefadein padding-24" data-fade-delay="700">
            <button onclick="closeAjustes()" class="btn-ajuste btn-ajuste-concluir s-font-large btn color-white text-theme">
                Concluir
            </button>
        </div>
        <div class="row clear"><br><br><br><br></div>
    </div>
</div>