<div class="col padding-24"></div>
<div class="col padding-left">
    <div class="col padding-large border">
        <div class="col align-center padding-tiny font-bold">{{{label}}}</div>
        <div class="col padding-4"></div>
        <div class="row padding-bottom">
            {{#x}}
                <div class="col s08 align-center">
                    <div title="média do mês: {{mediaTitle}}" class="calendarCriseNumber" style="{{media}}">

                    </div>
                    <div class="align-center color-text-theme font-bold opacity calendarCriseNumber">{{mes}}</div>
                    {{#data}}
                        <div title="{{title}}" class="calendarCriseNumber" style="{{style}}">
                            {{dia}}
                        </div>
                    {{/data}}
                </div>
            {{/x}}
        </div>
    </div>
</div>