<div class="col padding-24"></div>
<div class="col padding-left">
    <div class="col padding-large border">
        <div class="row padding-bottom">
            <div class="col s1 align-center color-text-theme font-bold opacity">Jan</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Fev</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Mar</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Abr</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Mai</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Jun</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Jul</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Ago</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Set</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Out</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Nov</div>
            <div class="col s1 align-center color-text-theme font-bold opacity">Dez</div>
        </div>

        {{#x}}
            <div class="col s1 align-center">
                <div title="{{title}}" style="
                        width: 24px;
                        height: 24px;
                        border-radius: 50px;
                        padding: 1px;
                        margin: auto;
                    {{style}}
                        ">
                    {{dia}}
                </div>
            </div>
        {{/x}}

        <div class="col padding-12"></div>
        <div class="col align-center padding-tiny">{{label}}</div>
    </div>
</div>