<div class="col padding-24"></div>
<div class="col padding-large">
    {{#x}}
        <div class="left padding-tiny">
            <div class="left align-center">
                <div title="{{title}}" style="
                        width: 24px;
                        height: 24px;
                        border-radius: 50px;
                        padding: 1px;
                        margin: auto;
                    {{style}}
                        ">
                    {{dia}}
                </div>
            </div>
        </div>
    {{/x}}

    <div class="col padding-12"></div>
    <div class="col align-center padding-tiny">{{label}}</div>
</div>
