<div class="col padding-small padding-bottom font-bold color-text-gray-dark">Intensidade das Crises</div>
<div class="col border padding-small">
    {{#x}}
        <img src="{{home}}{{vendor}}site-pstmc/public/assets/img/graficos/{{img}}.png" class="left margin-left margin-right" title="{{title}}" style="width: 30px;margin-bottom: 0" width="30" />
    {{/x}}
</div>