<div class="col padding-16"></div>
<div class="col" style="padding: 17px 18px 0 89px;height: 346px">
    <div class="col padding-large border">
        <div class="col s6" style="padding-right: 40px">
            {{{calendar1}}}
        </div>
        <div class="col s6" style="padding-left: 40px">
            {{{calendar2}}}
        </div>
    </div>
</div>
