<div id="aux-graficos">
    <div class="opt opt1" title="Feliz"></div>
    <div class="opt opt2" title="Contente"></div>
    <div class="opt opt3" title="Normal"></div>
    <div class="opt opt4" title="Chateado"></div>
    <div class="opt opt5" title="Triste"></div>
</div>

<div class="graficoArrow pointer opacity hover-opacity-off graficoArrowforward" rel="humor" data-mod="2">
    <i class="material-icons font-jumbo color-text-gray">keyboard_arrow_right</i>
</div>

<style>
    #aux-graficos > .opt {
        position: absolute;
        height: 9%;
        width: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    #aux-graficos > .opt1 {
        background-image: url(../libs/ueb/site-pstmc/public/assets/img/graficos/humor/4.png);
        bottom: 80%;
    }
    #aux-graficos > .opt2 {
        background-image: url(../libs/ueb/site-pstmc/public/assets/img/graficos/humor/5.png);
        bottom: 65%;
    }
    #aux-graficos > .opt3 {
        background-image: url(../libs/ueb/site-pstmc/public/assets/img/graficos/humor/3.png);
        bottom: 50%;
    }
    #aux-graficos > .opt4 {
        background-image: url(../libs/ueb/site-pstmc/public/assets/img/graficos/humor/1.png);
        bottom: 35%;
    }
    #aux-graficos > .opt5 {
        background-image: url(../libs/ueb/site-pstmc/public/assets/img/graficos/humor/2.png);
        bottom: 20%;
    }
</style>