<div id="aux-graficos">
    <div class="opt opt1" title="{{feliz}}"></div>
    <div class="opt opt2" title="{{contente}}"></div>
    <div class="opt opt3" title="{{normal}}"></div>
    <div class="opt opt4" title="{{chateado}}"></div>
    <div class="opt opt5" title="{{triste}}"></div>
</div>

<div class="graficoArrow pointer opacity hover-opacity-off graficoArrowforward" rel="humor" data-mod="2">
    <i class="material-icons font-jumbo color-text-gray">keyboard_arrow_right</i>
</div>

<style>
    #aux-graficos > .opt {
        position: absolute;
        height: 11%;
        width: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    #aux-graficos > .opt1 {
        background-image: url(public/assets/img/graficos/humor/4.png);
        bottom: 78%;
    }
    #aux-graficos > .opt2 {
        background-image: url(public/assets/img/graficos/humor/5.png);
        bottom: 63%;
    }
    #aux-graficos > .opt3 {
        background-image: url(public/assets/img/graficos/humor/3.png);
        bottom: 48%;
    }
    #aux-graficos > .opt4 {
        background-image: url(public/assets/img/graficos/humor/1.png);
        bottom: 33%;
    }
    #aux-graficos > .opt5 {
        background-image: url(public/assets/img/graficos/humor/2.png);
        bottom: 18%;
    }
</style>