<div class="col">
    <div class="spinner"></div>
    <div class="info-spinner">
        <div class="col font-small percentName">{{qualidadeSonoPercentual}}</div>
        <div class="col percent">
            <div class="font-xxxlarge dinline">{{media}}</div>
            <div class="font-xlarge dinline" style="padding: 25px 0 0;">%</div>
        </div>
    </div>

    <div class="message-spinner font-small">
        {{{qualidadeSonoTexto1}}} <b>{{media}}%</b><br> {{{qualidadeSonoTexto2}}}
    </div>
    <style>
        .spinner {
            animation: {{rotate}} .6s ease;
            transform: rotate({{deg}}deg);
            background: {{color}};
        }
    </style>
</div>
