<div class="col padding-24"></div>
<div class="col padding-left">
    <div class="col padding-large border">
        <div class="col s6" style="padding-right: 40px">
            {{{calendar1}}}
        </div>
        <div class="col s6" style="padding-left: 40px">
            {{{calendar2}}}
        </div>
    </div>
</div>
