<div class='col font-small' style='color: #bbb'>{{title}}</div>
<div class='col' style='margin: -8px 0 -4px'>
    <div class='left font-xlarge'>{{valor}}</div>
    <div class='left font-small' style='color: #bbb;padding: 13px 5px 0;'>{{descricao}}</div>
</div>