<div class="graficoArrow pointer opacity hover-opacity-off graficoArrowBack" rel="{{indicador}}" data-mod="{{mod}}">
    <i class="material-icons font-jumbo color-text-gray">keyboard_arrow_left</i>
</div>