<div class="col padding-bottom font-bold color-text-gray-dark">{{comentario}}</div>
<div class="col grafico-crises-comentarios margin-bottom" style="border:solid 1px #eeeeee;padding: 5px 10px 5px 97px;min-width: 800px">
    {{#x}}
        {{#.}}
            <div class="img-proporcion left">
                <img src="public/assets/img/graficos/crises/comment.svg" class="col img-proporcionimg pointer comment-crise" rel="{{{.}}}" />
            </div>
        {{/.}}
        {{^.}}
            <div class="img-proporcion left">
                <img src="public/assets/img/graficos/crises/vazio.svg" class="col" style="margin-bottom: 0;" />
            </div>
        {{/.}}
    {{/x}}
    {{^x}}
        <div class='col'><h3 class='padding-4 align-center font-bold font-xlarge color-text-gray'>{{nenhum}}</h3></div>
    {{/x}}
</div>
<div class="col padding-8"></div>