<h2 class="font-bold color-text-theme padding-0">Seja Bem-vindo ao Painel do Paciente!</h2>
<span class="color-text-gray font-large margin-bottom font-light">para começar, escolha ao menos um Indicador do lado esquerdo.</span>
<div class="col padding-64"></div>
<span class="padding-tiny col padding-left" style="margin-top: -7px">Os gráficos serão inseridos na terceira parte</span>
<img src="{{HOME}}{{VENDOR}}/site-pstmc/public/assets/img/grafico.png" style="max-width: 540px" width="540" class="col" alt="gráfico" />