<div class="col s12 m6 l3">
    <div class="col s6">
        <img src="{{image}}" class="col" />
    </div>
    <div class="col s6 padding-32">
        <h3 class="color-text-white">{{date}}</h3>
        <span class="color-text-white"><b>{{nome}}</b> {{acao}}</span>
    </div>
</div>