<div class="col s12">
<!--    <img src="public/assets/img/bemvindo.png" width="500" style="margin: auto; float: initial; display: block;" />-->
    <h2 class="align-center font-light color-text-white">Nenhum paciente em sua lista.</h2>
</div>