<div class="col s-padding-top">
    <div class="col s5 m4">
        <div class="col relative padding-right" style="border-radius: 100px;overflow: hidden;height: 115px;width: 115px;">
            <img src="{{imagem}}" class="left" width="115" style="width: 115px; height: auto;min-height: 100%;min-width: 100%;" />
        </div>
    </div>
    <div class="col s7 m8 padding-4">
        <div class="col font-light font-medium padding-bottom">Paciente</div>
        <h3 class="col color-text-white font-bold font-xlarge padding-0">{{first_name}}</h3>
        <span class="col color-text-white font-medium">{{idade}} anos</span>
    </div>
</div>