<div class="col s-padding-top">
    <div class="col s5 m4">
        <div class="col relative padding-right paciente-list-img" style="background-image: url({{imagem}});border-radius: 100px;overflow: hidden;height: 115px;width: 115px;"></div>
    </div>
    <div class="col s7 m8 padding-4">
        <div class="col font-light font-medium padding-bottom">{{paciente}}</div>
        <h3 class="col color-text-white font-bold font-xlarge padding-0">{{first_name}}</h3>
        <span class="col color-text-white font-medium">{{idade}} {{anos}}</span>
    </div>
</div>