<div class="col s-padding-top">
    <div class="col s6 m4">
        <div class="col relative padding-right">
            <img src="{{imagem}}" class="left radius-circle" height="115" width="115" style="width: 115px; height: 115px" />
        </div>
    </div>
    <div class="col s6 m8 padding-4">
        <div class="col font-light font-medium padding-bottom">Paciente</div>
        <h3 class="col color-text-white font-bold font-xlarge padding-0">{{first_name}}</h3>
        <span class="col color-text-white font-medium">{{idade}} anos</span>
    </div>
</div>