<div class="col s12">
    <div class="col padding-top margin-top">
        <img src="{{HOME}}{{VENDOR}}site-pstmc/public/assets/img/{{img}}.png" width="100" style="width: 100px; float: initial; margin:auto; display: block;"/>
    </div>
    <h2 class="col align-center font-light color-text-gray font-xlarge">Sem novidades por enquanto</h2>
</div>