{{#pacientes}}
    <div class="col padding-large radius-xxlarge card z-depth-4">
        <div class="left" style="width: 130px">
            <img src="{{imagem}}" alt="{{nome}}" title="{{nome}}" class="col radius-circle" />
        </div>
        <div class="left" style="width: 360px;padding-left: 15px;">
            <div class="col padding-16 padding-small margin-bottom font-medium color-text-black align-left padding-left">
                {{descricao}}
            </div>
            <div class="col padding-small">
                <div class="col s6 padding-small">
                    <button class="col btn padding-large radius-large" style="background: #5e3a8e;color:#ffffff" onclick="aceitarConvite({{id}})">Aceitar</button>
                </div>
                <div class="col s6 padding-small">
                    <button class="col margin-right btn padding-large radius-large" style="background: #BF394B;color:#ffffff" onclick="negarConvite({{id}})">Negar</button>
                </div>
            </div>
        </div>
    </div>
{{/pacientes}}