<div class="col padding-8">
    <h2 class="font-bold color-text-theme padding-0">Seja Bem-vindo ao Painel do Paciente!</h2>
</div>
<span class="color-text-gray font-large margin-bottom font-light">para começar, escolha ao menos um Indicador do lado esquerdo.</span>
<div class="col padding-64"></div>
<img src="{{HOME}}{{VENDOR}}/site-pstmc/public/assets/img/grafico.png" style="max-width: 540px;float: initial;margin: auto;display: block;" width="540" class="col" alt="gráfico" />