<div class="col s12 m6 l3" style="width: 300px;margin:0 40px 20px 0">
    <div class="left padding-right">
        <div class="col relative paciente-list-img">
            <img src="{{imagem}}" class="left" width="115" />
        </div>
    </div>
    <div class="left padding-24 padding-left" style="width: 168px;">
        <h3 class="col color-text-white font-bold font-medium padding-0" style="max-height: 46px; overflow: hidden;">{{first_name}}</h3>
        <span class="col color-text-white font-small">{{idade}} anos</span>
        <a href="paciente/{{id}}" data-animation="forward" class="col font-tiny padding-8 color-text-white">
            <div class="left">ver dados</div>
            <i class="material-icons font-tiny left" style="margin: 3px 0 0 4px">double_arrow</i>
        </a>
    </div>
</div>