<div class="row padding-bottom">
    <div class="left padding-right">
        <img src="{{patient.imagem}}" class="col radius-circle" height="80" width="80" style="width: 80px; height: 80px" />
    </div>
    <div class="left padding-24">
        <div class="col color-text-theme font-bold font-medium">{{date}}</div>
        <h3 class="col font-medium font-bold padding-0">{{messange}}</h3>
    </div>
</div>