<div class="col s12">
    <div class="col padding-top margin-top">
        <img src="{{HOME}}{{VENDOR}}site-pstmc/public/assets/img/{{img}}.png" width="230" style="width: 230px; float: initial; margin:auto; display: block;"/>
    </div>
    <h2 class="col align-center color-text-gray-light font-xlarge">Opa! Nada por aqui.</h2>
</div>