<div class="row padding-bottom">
    <div class="left margin-right radius-circle" style="width: 80px;height: 80px;overflow: hidden">
        <img src="{{patient.imagem}}" class="col" style="max-width: 80px;height: auto;width: auto;" />
    </div>
    <div class="left padding-24">
        <div class="col color-text-theme font-bold font-medium">{{date}}</div>
        <h3 class="col font-medium font-bold padding-0">{{messange}}</h3>
    </div>
</div>