<div class="col" id="background-login"></div>
<div class="padding-small pointer opacity hover-opacity-off" id="arrowback">
    <i class="material-icons font-xxlarge color-text-white">arrow_back</i>
</div>

<div class='row font-large no-select' id="cadastro-login" style="max-width: 750px; margin: auto;position: relative;z-index: 1;">
    <div class="col align-center" style="padding-top: 50px">
        <img src='public/assets/img/logo-icon.png' height='120'
             style='height: 120px;float: initial;margin:initial'>
    </div>
    <h2 class="color-text-white align-center" style="margin: auto; width: 200px">
        <div class="font-bold left">{{sitename}}</div>
        <div class="left font-light">{{web}}</div>
    </h2>
    <p class="font-light col align-center color-text-white margin-0 padding-bottom">{{passo}}</p>

    <div class="row clear"><br></div>

    <div class="col container-900">
        <div class="col s12 m6 padding-right">
            <label class="row">
                <input id="nome" placeholder="{{nome}}" type="text"
                       class="input-field color-white opacity">
                <div class="col info-container" style="margin-top: -19px;font-size: 12px;" rel="nome">
                    <span class="rest input-message" rel="nome"></span>
                </div>
            </label>
            <label class="row">
                <input id="nascimento" placeholder="{{data}}" type="text"
                       class="input-field color-white opacity date" pattern="\d{2}\/\d{2}\/\d{4}">
                <div class="col info-container" style="margin-top: -19px;font-size: 12px;" rel="nascimento">
                    <span class="rest input-message" rel="nascimento"></span>
                </div>
            </label>
            <label class="row">
                <input id="cpf" placeholder="{{cpf}}" type="text"
                       class="input-field color-white cpf opacity">
                <div class="col info-container" style="margin-top: -19px;font-size: 12px;" rel="cpf">
                    <span class="rest input-message" rel="cpf"></span>
                </div>
            </label>
            <label class="row">
                <input id="crm" placeholder="{{crm}}" type="text"
                       class="input-field color-white opacity">
                <div class="col info-container" style="margin-top: -19px;font-size: 12px;" rel="crm">
                    <span class="rest input-message" rel="crm"></span>
                </div>
            </label>
        </div>
        <div class="col s12 m6 padding-left">
            <label class="row">
                <input id="email" placeholder="{{email}}" type="email" disabled="disabled"
                       class="input-field color-white opacity">
                <div class="col info-container" style="margin-top: -19px;font-size: 12px;" rel="email">
                    <span class="rest input-message" rel="email"></span>
                </div>
            </label>

            <div class="col" style="margin-bottom: 22px;background: rgba(255,255,255, .5); border-radius: 25px;padding-bottom: 1px;">
                <label class="row">
                    <input id="senha" placeholder="{{senha}}" type="password" disabled="disabled"
                           class="font-large opacity" style="margin: 20px 35px 0;padding-bottom: 15px;width: calc(100% - 70px)!important; border-bottom: solid 2px rgba(255,255,255,.6)">
                </label>
                <label class="row">
                    <input id="senha2" placeholder="{{senha2}}" type="password" disabled="disabled"
                           class="font-large opacity margin-bottom" style="margin: 12px 35px;width: calc(100% - 70px)!important; border: none!important;">
                </label>
            </div>
            <div class="col info-container" style="margin-top: -19px;font-size: 12px;" rel="senha">
                <span class="rest input-message" rel="senha"></span>
            </div>

            <label class="col">
                <input id="telefone" placeholder="{{telefone}}" type="tel"
                       class="input-field color-white tel opacity">
                <div class="col info-container" style="margin-top: -19px;font-size: 12px;" rel="telefone">
                    <span class="rest input-message" rel="telefone"></span>
                </div>
            </label>
        </div>
    </div>

    <div class="row col cadbtn">
        <button onclick="avancar()" class="loginbtn s-font-large btn color-white theme-text">
            {{continuar}}
        </button>
    </div>
</div>